<section [ngStyle]="{'justify-content': movieInfoLoaded() ? '' : 'center'}" class="page-main-section neumorphic-card">
    @if (movieInfoLoaded() && movieInfo(); as info) {
        <div class="movie-details">
            <h1>{{info.title}}</h1>
            <div class="card">
                <figure>
                    <img [alt]="info.original_title" [src]="info.backdrop_path">
                    <figcaption>{{info.tagline}}</figcaption>
                </figure>
                <div class="content">
                    <p>{{info.overview}} <strong>{{info.status}}</strong> on
                        <strong>{{info.release_date}}</strong></p>
                </div>
                <a [href]="info.homepage" target="_blank">Click to Watch</a>
            </div>
        </div>
    } @else {
        <div class="loading">
            <multiplex-loading></multiplex-loading>
        </div>
    }
</section>
