<section [ngStyle]="{'justify-content': moviesLoaded() ? '' : 'center'}" class="page-main-section neumorphic-card">
    @if (moviesLoaded()) {
        <div class="search-bar">
            <multiplex-search-bar
                (outputtingSearchKeyword)="updateMoviesDataSetWithSearchKeyword($event)"></multiplex-search-bar>
        </div>
        <hr>
        <div class="movies-section">
            @if (moviesNotFound()) {
                <h1>Sorry! No movies available with this title.</h1>
            } @else {
                @for (movie of displayMoviesDataSet(); track movie.id) {
                    <multiplex-movie-card (click)="redirectTo(movie.id)" [maxWidth]="'200px'" [minHeight]="'331px'"
                                          [movie]="movie"></multiplex-movie-card>
                }
            }
        </div>
    } @else {
        <div class="loading">
            <multiplex-loading></multiplex-loading>
        </div>
    }
</section>
