<section class="page-main-section neumorphic-card">
    <div class="section-container">
        <h1>Welcome To <strong>MULTIPLEX</strong></h1>
        <h1>by</h1>
        <figure>
            <img alt="The Movie Database logo" src="/assets/images/blue_square_1.svg">
        </figure>
        <p>Here all things are for Entertainment!</p>
        <div class="button-enclosure">
            <button class="neumorphic-button" routerLink="/movies">Explore Top Rated Movies</button>
        </div>
    </div>
</section>
