<section [ngStyle]="{'justify-content': moviesLoaded ? '' : 'center'}" class="landing-section neumorphism-card">
    <ng-container *ngIf="moviesLoaded; else showLoading">
        <figure>
            <img alt="The Movie Database logo" src="/assets/images/blue_square_1.svg">
        </figure>
        <div class="search-bar">
            <multiplex-search-bar></multiplex-search-bar>
        </div>
        <hr>
        <div class="movies-section">
            <ng-container *ngFor="let movie of displayMoviesDataSet; let i = index">
                <multiplex-movie-card [maxWidth]="'200px'" [minHeight]="'331px'" [movie]="movie"></multiplex-movie-card>
            </ng-container>
        </div>
    </ng-container>
    <ng-template #showLoading>
        <div class="loading">
            <multiplex-loading></multiplex-loading>
        </div>
    </ng-template>
</section>
