@import "src/assets/styles/variables";

.page-main-section {
    justify-content: center;

    .section-container {
        h1 {
            font-size: $heading-size;

            strong {
                text-decoration: underline $tertiary-color;
            }
        }

        p {
            font-size: $para-size;
        }

        figure {
            padding: 1.5rem;

            img {
                width: 100%;
            }
        }

        .button-enclosure {
            margin: 1rem 0;
        }
    }
}
