@import "src/assets/styles/variables";

header {
    position: absolute;
    top: 0;
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $primary-color;

    .navbar-brand {
        padding: 0 1em;

        .brand-anchor { // a
            text-decoration: none;
            margin: 0;
            padding: 0;

            .brand-img {
                width: 100%;
                vertical-align: middle;
            }
        }
    }

    .navbar-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .navbar-list { // ul
        list-style: none;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;

        li {
            padding: 1.5em 1em;
            color: white;
            font-weight: 600;
            font-size: $font-size;
            cursor: pointer;
            transition: background-color 500ms ease;

            &:hover {
                background-color: $secondary-color;
            }
        }
    }
}
