<ng-container *ngIf="isLoggedIn">
    <header>
        <nav class="navbar">
            <div class="navbar-brand">
                <a class="brand-anchor" href="">
                    <img alt="TMDB logo" class="brand-img" src="assets/images/blue_long_2.svg">
                </a>
            </div>
            <div class="navbar-content">
                <div class="navbar-left">
                    <ul class="navbar-list">
                        <li routerLink="/home">Home</li>
                    </ul>
                </div>
                <div class="navbar-right">
                    <ul class="navbar-list">
                        <li (click)="logout()">Logout</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</ng-container>
