/*
CSS variables
 */
// Colors
$primary-color: #0d253f;
$secondary-color: #01b4e4;
$tertiary-color: #90cea1;
$bg-color1: #c8d6e5;
$bg-color2: #dff9fb;
$bg-color3: #ecf0f1;
$bg-color4: #e0e0e0;
// Font size
$heading-size: 2.5em;
$para-size: 1.5em;
$font-size: 14px;

$section-max-width: 968px;
